<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión - UNMSM</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    
    <div class="login-container">
        <img src="images/logouunmsmrojo.png" alt="Logo UNMSM" class="logo">
        <h1>UNMSM</h1>
        <% if (typeof error !== 'undefined') { %>
            <div class="error-message">
                <p><%= error %></p>
            </div>
            <% } %>
        <form action="/validar" method="POST">
            <label for="correo">Correo institucional</label>
            <div class="input-group">
                <input type="text" id="correo" name="correo" placeholder="juan.quispe" required>
                <span>@unmsm.edu.pe</span>
            </div>
            
            <label for="contrasena">Contraseña</label>
            <div class="input-group">
                <input type="password" id="contrasena" name="contrasena" placeholder="********" required>
                <button type="button" class="toggle-password">
                    <svg id="icono-ojo" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 4.5C7 4.5 2.7 7.6 1 12c1.7 4.4 6 7.5 11 7.5s9.3-3.1 11-7.5C21.3 7.6 17 4.5 12 4.5zM12 17a5 5 0 110-10 5 5 0 010 10zm0-8a3 3 0 100 6 3 3 0 000-6z"></path></svg>
                </button>
            </div>
            
            <button type="submit" class="login-button">INICIAR SESIÓN</button>
        </form>
    </div>

    <script src="js/scripts.js"></script>
</body>
</html>